.thumbs {
  display: none;
}
.carousel.carousel-slider .control-arrow {
  background-color: rgba(0, 0, 0, 0.182);
}
.HomeCarousel {
  padding-top: 6rem;
}
.homeCategories {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}
.homeNav {
  display: none;
}
.homeColors {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 5rem;
  gap: 2rem;
}
.homeCategories > div img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.homeColors > div img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.homeHeader {
  width: 90%;
  margin: 3rem auto;
  font-weight: 600;
  font-size: 29px;
  letter-spacing: 5px;
  word-spacing: 2px;
  color: #0ea3c8;
}
@media (max-width: 1200px) {
  .homeHeader {
    width: 90%;
    margin: 2rem auto;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 4px;
    word-spacing: 1px;
  }
  .homeColors {
    margin-bottom: 3rem;
  }
}
@media (max-width: 1000px) {
  .homeHeader {
    width: 90%;
    margin: 2rem auto;
    font-size: 22px;
    letter-spacing: 1px;
  }
  .homeColors {
    margin-bottom: 3rem;
  }
  .HomeCarousel {
    margin-bottom: -1rem;
  }
}
@media (max-width: 920px) {
  .HomeCarousel {
    padding-top: 4rem;
  }
}
@media (max-width: 800px) {
  .homeHeader {
    width: 90%;
    margin: 1.5rem auto;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .HomeCarousel {
    margin-bottom: -1.5rem;
  }
  .homeCategories {
    grid-template-columns: repeat(5, 1fr);
  }
  .homeColors {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
  }
}
@media (max-width: 520px) {
  .HomeCarousel {
    padding-top: 3.6rem;
  }
  .homeHeader {
    width: 90%;
    margin: 1.2rem auto;
    font-size: 20px;
    letter-spacing: 0px;
  }
  .homeCategories {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1.6rem;
    gap: 1rem;
  }
  .homeColors {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1.5rem;
    gap: 1rem;
  }
}
@media (max-width: 440px) {
  .HomeCarousel {
    display: none;
  }
  .homeNav {
    display: grid;
    padding: 3.7rem 0 2px 0;
    background-color: #0ea3c8;
  }
  .homeHeader {
    width: 90%;
    margin: 1rem auto;
  }
}
@media (max-width: 320px) {
  .homeNav {
    padding: 3.2rem 0 0 0;
  }
}
