.productCon {
  width: 100%;
}
.proContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 6rem 1.3rem 0.5rem 1.3rem;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.proNavigation {
  font-size: 14px;
  font-weight: 600;
  color: rgb(42, 42, 42);
}
.proNavigation span {
  color: rgb(71, 71, 71);
  font-weight: 400;
}
.proCount {
  margin: 10px 0;
  font-weight: 600;
  font-size: 15px;
  color: rgb(42, 42, 42);
}
.proCount span {
  font-weight: 300;
}

.proBox {
  display: flex;
  width: 100%;
  overflow-y: auto;
}
.proBox::-webkit-scrollbar {
  display: none;
}
.proFilters {
  width: 270px;
  overflow-y: scroll;
  padding: 1rem;
}
.proSort {
  color: rgb(42, 42, 42);
  margin-bottom: 10px;
  align-items: center;
}
.proSort > div {
  display: flex;
  gap: 10px;
}
.proSort > div Select {
  width: 100%;
}
.proFilters::-webkit-scrollbar {
  display: none;
}
.proGrid {
  width: calc(100% - 270px);
  border: 1px solid rgb(237, 237, 237);
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 50px;
  column-gap: 20px;
}
.proGrid > div {
  width: 250px;
  height: auto;
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 3rem 0;
}
.pagination button {
  border: 1px solid rgb(188, 185, 186);
  font-size: 17px;
  background-color: #fff;
  padding: 10px 15px;
}

@media (max-width: 920px) {
  .proContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 4.3rem 1.3rem 0.5rem 1.3rem;
    border-bottom: 1px solid rgb(231, 231, 231);
  }
}
@media (max-width: 760px) {
  .proSkeleton {
    padding: 2rem;
  }
  .proContainer {
    padding: 3.5rem 1.3rem 0.5rem 1.3rem;
  }
  .proCount {
    display: none;
  }
  .proNavigation {
    display: none;
  }
  .proFilters {
    display: none;
  }
  .proSort {
    display: none;
  }
  .proGrid {
    width: 100%;
    padding: 0;
    gap: 0;
  }
  .proGrid > div {
    width: 50%;
  }
}
@media (max-width: 520px) {
  .proContainer {
    padding: 3rem 1.3rem 0.5rem 1.3rem;
  }
}
@media (max-width: 320px) {
  .proContainer {
    padding: 2.5rem 1.3rem 0.5rem 1.3rem;
  }
}
