.logo img {
  width: 180px;
}
.container {
  width: 100%;
  padding: 0 2rem;
  display: block;
  position: fixed;
  z-index: 99;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.09) 0px 7px 20px 0px;
}
.container > div {
  display: flex;
  justify-content: space-between;
}
.container > div > div {
  padding: 0.8rem 0;
}
.container > div > div:nth-child(2) {
  padding: 0;
  margin: 0;
}
.container > div > div:nth-child(3) {
  justify-content: flex-end;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.dropdownCategory {
  display: none;
}
.item-left {
  flex: 0 0 15%;
}
.item-center {
  flex: 0 0 30%;
}
.item-center ul li {
  padding: 0;
  margin: 0;
}
.item-center ul {
  padding: 0;
  margin: 0;
}
.item-center ul li > a {
  padding: 1.7rem 0;
}
.item-right {
  flex: 0 0 50%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.v-center {
  align-items: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  text-decoration: none;
}
li a {
  text-decoration: none;
}
.menu > ul {
  display: flex;
}
.menu > ul > li {
  display: inline-block;
  margin-left: 38px;
  color: black;
  font-size: 15px;
}
.menu > ul > li > a {
  color: rgb(66, 66, 66);
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease;
}
.navSearch {
  display: flex;
  align-items: center;
  background-color: rgb(238, 238, 238);
  width: 70%;
}
.navSearch > input {
  outline: none;
  border: none;
  background-color: rgb(238, 238, 238);
  padding: 10px 20px;
  width: 94%;
}
.navIcons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: rgb(91, 91, 91);
}
.navIcons span {
  position: absolute;
  background-color: #25c0e5;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 60%;
  right: -40%;
}
.navIcons p {
  font-size: 11px;
  font-weight: 600;
}
.searchIcon {
  margin: 0 10px;
  color: rgb(91, 91, 91);
  font-size: 19px;
}
.sideIcons {
  color: rgb(110, 109, 109);
  font-size: 19px;
}
.hide {
  display: none;
}
.subMenu {
  position: absolute;
  z-index: 500;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.4s ease;
  margin-top: 30px;
  visibility: hidden;
  opacity: 0;
}
.menu > ul > li > a:hover {
  border-bottom: 4px solid #25c0e5;
}
.menu > ul > li:hover .subMenu {
  visibility: visible;
  opacity: 1;
}
.megaMenu {
  left: 35%;
  transform: translateX(-50%);
  overflow: auto;
}
.menuColumn {
  max-width: 1400px;
  max-height: 700px;
  height: 400px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.menuList {
  flex: 0 0 15%;
  padding: 0 10px;
}
.menuList p {
  color: #25c0e5;
  font-weight: 500;
  line-height: 38px;
}
.menuList ul li {
  line-height: 35px;
}
.menuList ul li a {
  color: rgb(63, 63, 63);
}
.mobItem {
  display: none;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.CartDrawer {
  width: 100%;
  height: 100%;
}
.CartCheckout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid rgb(186, 186, 186);
  padding-bottom: 20px;
}
.CartCheckout p {
  color: rgb(117, 117, 117);
}
.CartCheckoutBtn {
  padding: 15px 70px;
  background-color: black;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 1rem;
  letter-spacing: 2px;
}
.CartProDetails {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid gray;
}
.CartLeft {
  flex: 0 0 23%;
}
.CartLeft img {
  width: 90%;
}
.CartMiddle {
  flex: 0 0 57%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.CartMiddle > div {
  display: flex;
  gap: 20px;
}
.CartMiddle > div > u {
  color: rgb(87, 87, 87);
  cursor: pointer;
}
.CartMiddle > div > div > input {
  width: 28px;
  height: 28px;
  outline: none;
}
.CartMiddle > div > div > button {
  width: 28px;
  height: 28px;
  outline: none;
}
.CartMiddle div > input {
  text-align: center;
  border: 1px solid gray;
  border-left: none;
  border-right: none;
}
.CartMiddle div > button {
  border: 1px solid gray;
  font-weight: 700;
  background-color: white;
  cursor: pointer;
}
.CartMiddle div > button:nth-child(1) {
  border-right: none;
}
.CartMiddle div > button:nth-child(3) {
  border-left: none;
}
.CartRight {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(33, 215, 33);
  font-weight: 600;
}

.orderDrawer {
  width: 100%;
  height: 100%;
}
.orderProDetails {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid gray;
}
.orderLeft {
  flex: 0 0 23%;
}
.orderLeft img {
  width: 90%;
}
.orderMiddle {
  flex: 0 0 57%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.orderMiddle > div {
  display: flex;
  gap: 20px;
}
.orderMiddle > div > u {
  color: rgb(87, 87, 87);
  cursor: pointer;
}
.orderMiddle > div > div > button {
  width: 28px;
  height: 28px;
  outline: none;
}
.orderMiddle div > button {
  border: 1px solid gray;
  font-weight: 700;
  background-color: white;
  cursor: pointer;
}
.orderMiddle div > button:nth-child(1) {
  border-right: none;
}
.orderRight {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(33, 215, 33);
  flex-direction: column;
  font-weight: 600;
  gap: 10px;
}

@media (max-width: 1600px) {
  .megaMenu {
    left: 45%;
  }
}
@media (max-width: 1230px) {
  .item-right {
    flex: 0 0 40%;
  }
  .hide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 236);
    width: 40px;
  }
  .sideIcons {
    font-size: 22px;
  }
}
@media (max-width: 920px) {
  .logo img {
    width: 110px;
  }
  .dropdownCategory {
    display: block;
  }
  .sideIcons {
    margin-top: 7px;
  }
  .navIcons span {
    bottom: 50%;
  }
  .hamburger {
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
  }
  .hide {
    background-color: white;
  }
  .container {
    padding: 0 1rem;
  }
  .container > div > div {
    padding: 1rem 0;
  }
  .item-center {
    order: 3;
    flex: 0 0 100%;
  }
  .menu {
    position: fixed;
    z-index: 999;
    width: 350px;
    background-color: white;
    left: -100%;
    top: 0;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 0;
    overflow: scroll;
    transition: all 0.4s ease;
  }
  .menu > ul {
    flex-direction: column;
  }
  .menu > ul > li {
    width: 100%;
    line-height: 1;
    margin: 0;
    display: none;
    flex-direction: column;
    border-bottom: 1px solid rgb(219, 218, 218);
    padding: 0 30px;
  }
  .menu > ul > li > a {
    line-height: 60px;
    height: 30px;
    color: black;
    font-weight: 700;
    width: 100%;
  }
  .menu > ul > p {
    width: 100%;
    line-height: 1;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 0 30px;
    border-bottom: 1px solid rgb(226, 226, 226);
  }
  .menu > ul > p:nth-child(1) {
    pointer-events: none;
  }
  .menu > ul > p > a {
    text-decoration: none;
    line-height: 50px;
    height: 45px;
    color: rgb(20, 20, 20);
    font-weight: 600;
    width: 100%;
  }
  .mobItem {
    display: block;
    width: 100%;
  }
  .display {
    display: none;
  }
  .subMenu {
    display: none;
  }
  .cross {
    font-size: 29px;
    color: gray;
    cursor: pointer;
    pointer-events: all;
    border: 1px solid rgb(207, 207, 207);
    padding: 5px;
  }
  .menu > ul > li > a:hover {
    border-bottom: none;
  }
  .menu > ul > li:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
  }
  .item-center ul li > a {
    padding: 1rem 0;
  }
}
@media (max-width: 730px) {
  .item-right {
    flex: 0 0 60%;
  }
}
@media (max-width: 520px) {
  .navSearch {
    display: none;
  }
  .container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  }
  .sideIcons {
    font-size: 24px;
  }
  .logo img {
    width: 105px;
  }
  .container {
    padding: 0 0.9rem;
  }
  .container > div > div {
    padding: 0.9rem 0;
  }
  .item-right {
    gap: 13px;
  }
  .navIcons span {
    font-size: 12px;
    width: 15px;
    height: 15px;
    right: -15%;
  }
  .menu {
    width: 300px;
  }
  .menu > ul > li > a {
    line-height: 50px;
    height: 25px;
    font-weight: 600;
  }
}
@media (max-width: 440px) {
  /* 


  .CartDrawer {
    width: 100%;
    height: 100%;
  }
  .CartCheckout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    border-bottom: 1px solid rgb(186, 186, 186);
    padding-bottom: 20px;
  }
  .CartCheckout p {
    color: rgb(117, 117, 117);
  }
  .CartCheckoutBtn {
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 1rem;
    letter-spacing: 2px;
  }
  .CartProDetails {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid gray;
  }
  .CartLeft {
    flex: 0 0 23%;
  }
  .CartLeft img {
    width: 100%;
  }
  .CartMiddle {
    flex: 0 0 57%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .CartMiddle > div {
    display: flex;
    gap: 20px;
  }
  .CartMiddle > div > u {
    color: rgb(87, 87, 87);
    cursor: pointer;
  }
  .CartMiddle > div > div > input {
    width: 28px;
    height: 28px;
    outline: none;
  }
  .CartMiddle > div > div > button {
    width: 28px;
    height: 28px;
    outline: none;
  }
  .CartMiddle div > input {
    text-align: center;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
  }
  .CartMiddle div > button {
    border: 1px solid gray;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
  }
  .CartMiddle div > button:nth-child(1) {
    border-right: none;
  }
  .CartMiddle div > button:nth-child(3) {
    border-left: none;
  }
  .CartRight {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(33, 215, 33);
    font-weight: 600;
  }
   */
}
@media (max-width: 320px) {
  .sideIcons {
    font-size: 24px;
  }
  .sideIcons {
    font-size: 22px;
  }
  .logo img {
    width: 65px;
  }
  .container {
    padding: 0 0.7rem;
  }
  .container > div > div {
    padding: 0.7rem 0;
  }
  .item-right {
    gap: 10px;
  }
  .navIcons span {
    font-size: 10px;
    width: 13px;
    height: 13px;
    right: -20%;
  }
  .menu {
    width: 265px;
    padding: 5px 0;
  }
  .menu > ul > p {
    padding: 0 15px;
  }
  .menu > ul > li {
    padding: 0 15px;
  }
  .menu > ul > li > a {
    line-height: 40px;
    height: 20px;
    font-weight: 500;
    font-size: 12px;
  }
  .menu > ul > p > a {
    line-height: 40px;
    height: 35px;
    font-size: 12px;
  }
  .cross {
    font-size: 24px;
    padding: 2px;
  }
}
